<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FilterX</key>
	<dict>
		<key>Bundles</key>
		<array>
			<string>com.apple.Preferences</string>
			<string>com.apple.springboard</string>
		</array>
	</dict>
	<key>Items</key>
	<dict>
		<key>BTMACAddress</key>
		<string>99:99:99:99:99:99</string>
		<key>BasebandVersion</key>
		<string>04.12.02</string>
		<key>BuildVersion</key>
		<string>10A403</string>
		<key>CARRIER_VERSION</key>
		<string>中国联通 13.0</string>
		<key>ICCID</key>
		<string>89860111243600286564</string>
		<key>IMEI</key>
		<string>12 345678 901234 5</string>
		<key>IMSI</key>
		<string>460018414228656</string>
		<key>IOPlatformSerialNumber</key>
		<string>12345678901</string>
		<key>InternationalMobileEquipmentIdentity</key>
		<string>123456789012345</string>
		<key>InternationalMobileSubscriberIdentity</key>
		<string>460018414228656</string>
		<key>MACAddress</key>
		<string>88:88:88:88:88:88</string>
		<key>Model: </key>
		<string>iPhone 3,1</string>
		<key>ModelNumber</key>
		<string>MC999</string>
		<key>ModemIMEI</key>
		<string>12 345678 901234 5</string>
		<key>ModemVersion</key>
		<string>04.12.02</string>
		<key>OS-Version: </key>
		<string>iPhone OS 6.0 (10A403)</string>
		<key>PhoneNumber</key>
		<string>+86-186-8888-8888</string>
		<key>ProductModel</key>
		<string>MC99988</string>
		<key>ProductType</key>
		<string>iPhone3,1</string>
		<key>ProductVersion</key>
		<string>6.0</string>
		<key>RegionInfo</key>
		<string>88/8</string>
		<key>Serial Number: </key>
		<string>12345678901</string>
		<key>SerialNumber</key>
		<string>12345678901</string>
		<key>UniqueDeviceID</key>
		<string>cafb6040717642caaf704d78c46bff13882bafc6</string>
		<key>User Data Available</key>
		<string>8.8 G</string>
		<key>User Data Capacity</key>
		<string>9.9 G</string>
		<key>kCTMobileEquipmentInfoCurrentMobileId</key>
		<string>123456789012345</string>
		<key>kCTMobileEquipmentInfoICCID</key>
		<string>89860111243600286564</string>
		<key>kCTMobileEquipmentInfoIMEI</key>
		<string>123456789012345</string>
		<key>model-number</key>
		<data>
		TUM5OTkAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=
		</data>
		<key>region-info</key>
		<data>
		ODgvOAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=
		</data>
	</dict>
</dict>
</plist>
