<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FilterX</key>
	<dict>
		<key>Bundles</key>
		<array>
			<string>com.apple.Preferences</string>
			<string>com.apple.springboard</string>
		</array>
	</dict>
	<key>Items</key>
	<dict>
		<key>BTMACAddress</key>
		<string>6C:C2:6B:77:4A:B6</string>
		<key>BuildVersion</key>
		<string>9B206</string>
		<key>CARRIER_VERSION</key>
		<string>中国移动 12.0</string>
		<key>ICCID</key>
		<string>89860111281560277793</string>
		<key>IMEI</key>
		<string>01 296400 705005 0</string>
		<key>IOPlatformSerialNumber</key>
		<string>DNPH9MMPDP0N</string>
		<key>InternationalMobileEquipmentIdentity</key>
		<string>012964007050050</string>
		<key>MACAddress</key>
		<string>6C:C2:6B:77:4A:B7</string>
		<key>Model: </key>
		<string>iPhone 3,1</string>
		<key>ModemIMEI</key>
		<string>01 296400 705005 0</string>
		<key>ModemVersion</key>
		<string>04.12.01</string>
		<key>OS-Version: </key>
		<string>iPhone OS 5.1.1 (9B206)</string>
		<key>PhoneNumber</key>
		<string>+86 132-1033-9247</string>
		<key>ProductModel</key>
		<string>MD128ZP</string>
		<key>ProductVersion</key>
		<string>5.1.1</string>
		<key>Serial Number: </key>
		<string>DNPH9MMPDP0N</string>
		<key>SerialNumber</key>
		<string>DNPH9MMPDP0N</string>
		<key>UniqueDeviceID</key>
		<string>a5ebcf1587c3e8f10baa2ca781ddcb7abf041a74</string>
		<key>User Data Available</key>
		<string>6.1 GB</string>
		<key>User Data Capacity</key>
		<string>6.4 GB</string>
		<key>kCTMobileEquipmentInfoCurrentMobileId</key>
		<string>012964007050050</string>
		<key>kCTMobileEquipmentInfoICCID</key>
		<string>89860111281560277793</string>
		<key>kCTMobileEquipmentInfoIMEI</key>
		<string>012964007050050</string>
		<key>model-number</key>
		<data>
		TUQxMjgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=
		</data>
		<key>region-info</key>
		<data>
		WlAvQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=
		</data>
	</dict>
</dict>
</plist>
