<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Filter</key>
	<dict>
		<key>Bundles</key>
		<array>
			<string>com.walktour.4sw</string>
			<string>com.walktour.4SW</string>
			<string>com.walktour.4SW01</string>
			<string>com.walktour.4SW02</string>
			<string>com.walktour.4SW11</string>
			<string>com.walktour.4SW12</string>
		</array>
	</dict>
</dict>
</plist>
