<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActivationRandomness</key>
	<string>6188DDF8-364D-4B5B-BD28-0F9042AEF720</string>
	<key>ActivationRequiresActivationTicket</key>
	<true/>
	<key>ActivationState</key>
	<string>Activated</string>
	<key>BasebandMasterKeyHash</key>
	<string>4336D864981B65E4CDDB22FB66D5EF607B5E5E7E</string>
	<key>BasebandThumbprint</key>
	<string>403BCC2ACFCCFC22C99E613298EC59BE0A79A9E6</string>
	<key>BuildVersion</key>
	<string>9B206</string>
	<key>DeviceCertRequest</key>
	<data>
	LS0tLS1CRUdJTiBDRVJUSUZJQ0FURSBSRVFVRVNULS0tLS0KTUlJQnhEQ0NBUzBDQVFB
	d2dZTXhMVEFyQmdOVkJBTVRKRE5GUVVRMk9FVkNMVGM1TURrdE5EYzVOUzA1UXpaQwpM
	VEUyT0RsQk1VSXlPVU0xT0RFTE1Ba0dBMVVFQmhNQ1ZWTXhDekFKQmdOVkJBZ1RBa05C
	TVJJd0VBWURWUVFICkV3bERkWEJsY25ScGJtOHhFekFSQmdOVkJBb1RDa0Z3Y0d4bElF
	bHVZeTR4RHpBTkJnTlZCQXNUQm1sUWFHOXUKWlRDQm56QU5CZ2txaGtpRzl3MEJBUUVG
	QUFPQmpRQXdnWWtDZ1lFQW9yUGtxWTJacS9WY0hFamhnZlVleFN6ZgpheFRoRmxkWTcw
	cG1ZcHBHVEFpTTEzK1hGemJxTU0weVlZbllEcktLZ0w4V1FEcDliNTV3WlAxeGdKZUpM
	T1lrCkhLekVCNDBiSVRRZlMyL2w0cjZ4SHRJYy9IVkpXem1DL3VyeGFnN3U3VllMTXBG
	T0huYXBDWUpnbmlwRG40RnIKZ3dqSVczVWpNVXZYZWxNVG9xa0NBd0VBQWFBQU1BMEdD
	U3FHU0liM0RRRUJCUVVBQTRHQkFBdEFaR3drQXh3MApjZDFQVitCVGdSUVNZR05IbWov
	cFBJTEF5eks0Qm5Va2ZKMHlkMm5tZGFsQ0lobWEyWXg2Y1hQYnp3MU9UNmp2Cno1ZWhu
	TlY2c25NdXRTNjUvcGpMNXNVWm9DM2dnMmdiNWZEY1FaTG9RWHlCWFJKY2gxTVVXR3BE
	ekFPQmV0REUKNDVSVDNSK0pDZFF0YWZyZ25VSHZCL1ViYlFQU0U4MW8KLS0tLS1FTkQg
	Q0VSVElGSUNBVEUgUkVRVUVTVC0tLS0tCg==
	</data>
	<key>DeviceClass</key>
	<string>iPhone</string>
	<key>InternationalMobileEquipmentIdentity</key>
	<string>012964007050059</string>
	<key>ModelNumber</key>
	<string>MD239</string>
	<key>ProductType</key>
	<string>iPhone3,1</string>
	<key>ProductVersion</key>
	<string>5.1.1</string>
	<key>SIMStatus</key>
	<string>kCTSIMSupportSIMStatusNotReady</string>
	<key>SerialNumber</key>
	<string>DNPH9MMPDP09</string>
	<key>SupportsPostponement</key>
	<true/>
	<key>UniqueChipID</key>
	<integer>3283873215823</integer>
	<key>UniqueDeviceID</key>
	<string>a5ebcf1587c3e8f10baa2ca781ddcb7abf041a74</string>
</dict>
</plist>
