<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActivationRandomness</key>
	<string>D6B129A2-F77F-4C0F-A157-5327A7326450</string>
	<key>ActivationRequiresActivationTicket</key>
	<true/>
	<key>ActivationState</key>
	<string>Unactivated</string>
	<key>BasebandMasterKeyHash</key>
	<string>4336D864981B65E4CDDB22FB66D5EF607B5E5E7E</string>
	<key>BasebandThumbprint</key>
	<string>0CAC9889A1C5369F24CB3D199B3BAC9982E3BBF3</string>
	<key>BuildVersion</key>
	<string>9B206</string>
	<key>DeviceCertRequest</key>
	<data>
	LS0tLS1CRUdJTiBDRVJUSUZJQ0FURSBSRVFVRVNULS0tLS0KTUlJQnhEQ0NBUzBDQVFB
	d2dZTXhMVEFyQmdOVkJBTVRKRE5DT0RkRlF6RXlMVFZCTVRNdE5EZ3lOeTFCUWpaRwpM
	VEZHTWtaQ09USTBNREF3UXpFTE1Ba0dBMVVFQmhNQ1ZWTXhDekFKQmdOVkJBZ1RBa05C
	TVJJd0VBWURWUVFICkV3bERkWEJsY25ScGJtOHhFekFSQmdOVkJBb1RDa0Z3Y0d4bElF
	bHVZeTR4RHpBTkJnTlZCQXNUQm1sUWFHOXUKWlRDQm56QU5CZ2txaGtpRzl3MEJBUUVG
	QUFPQmpRQXdnWWtDZ1lFQXhFZDdZOERGeXRaTGNUUVVBOWJVbUs5NAo0YU1SMVRCOXpi
	ejl1Mm5SSUxOYVdmTEZyK1VwM0E1QzdOcGo3UWlEM0NVNENWN2V3ZlFRZzJEMys1WXhp
	cUViCnVxUmxDNXJEN3pjWlpHK2ZXSFNMUURTZit3ZUlJRWtJSkNyYjMwNWRpMGtYZEdQ
	c2tPL2JGRDJIVTMwYkxjQUIKMXFiOFh1M3lwemlEdkFUUzdnMENBd0VBQWFBQU1BMEdD
	U3FHU0liM0RRRUJCUVVBQTRHQkFLQ2ZRczdEdERZego2dDRDazNkbEFZM090TXBrVzVl
	eHpubVQ4UHZUZG1JSm01amdwTTBQS0VLUjNZbUpNMUJ3cHlSYVkyNUk4NzJDCnp5ZzBS
	V0owU202cDdkd1NYZ21uMXRNbGFiRzZocUFMR3UrYTlYNmZWbU1IWkVUSFN3a1lpb3g5
	aG5MNkhoa2oKZjZBV1ZUVm1CQ3o4UUxsai9PbXdGR0o3TUN4ME9WK1EKLS0tLS1FTkQg
	Q0VSVElGSUNBVEUgUkVRVUVTVC0tLS0tCg==
	</data>
	<key>DeviceClass</key>
	<string>iPhone</string>
	<key>IntegratedCircuitCardIdentity</key>
	<string>89860111281560277793</string>
	<key>InternationalMobileEquipmentIdentity</key>
	<string>012339000978278</string>
	<key>InternationalMobileSubscriberIdentity</key>
	<string>460010358227962</string>
	<key>ModelNumber</key>
	<string>MC608</string>
	<key>ProductType</key>
	<string>iPhone3,1</string>
	<key>ProductVersion</key>
	<string>5.1.1</string>
	<key>SIMStatus</key>
	<string>kCTSIMSupportSIMStatusOperatorLocked</string>
	<key>SerialNumber</key>
	<string>82026HD9A4S</string>
	<key>SupportsPostponement</key>
	<true/>
	<key>UniqueChipID</key>
	<integer>2229458988301</integer>
	<key>UniqueDeviceID</key>
	<string>cafb6040717642caaf704d78c46bff13882bafc6</string>
</dict>
</plist>
